.background{
  background-image: url('./../../media/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-attachment: fixed;
}

footer{
  color: #fff;
  padding: 60px 0;
}

img{
  max-width: 100%;
}

.footer__p{
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 5px;
}

.small_p{
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;
}

.footer__address p{
  text-align: right;
}

.footer__button{
  margin: 0
}


@media all and (max-width: 768px){
  .footer__container{
    flex-direction: column;
  }
  .footer__address{
    margin-top: 40px;
  }
  .footer__address p{
    text-align: left;
  }
  .footer__button{
    margin: 40px 0 0 0;
  }
}
