.container{
  max-width: 1520px!important;
}

.hero{
  min-height: 100vh;
  background-image: url('./media/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}