@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900&display=swap&subset=latin-ext');

body{
  font-family: 'Lato', sans-serif;
}

nav{
  height: 100%;
}

.container{
  max-width: 1520px!important;
}

.color-blue{
  color: #10256F!important;
}
.t-center{
  text-align: center;
}

.hero{
  min-height: 100vh;
  background-image: url('./media/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

a{
  cursor: pointer;
}

footer p, h1, h2, h3, h4, h5, h6, a{
  color: #fff!important;
}

.btn-big{
  margin-top: 70px;
  padding: 15px 60px;
  width: 300px;
  border: none;
  color: #fff;
  background-color: #EE4AF1;
  font-size: 14px;
  line-height: 30px;
}

.justify-center{
  justify-content: center;
}

.section-padding{
  padding: 100px 0;
}

.__bold-title{
  text-align: center;
  font-weight: 900;
  letter-spacing: 1.4px;
  font-size: 72px;
  line-height: 80px;
}

.__light-subtitle{
  font-weight: 200;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: 1.2px;
}

.__paragraph-normal{
  font-size: 32px;
  line-height: 40px;
}

.mb-30{
  margin-bottom: 30px;
}

.plr-10{
  padding: 0 10px;
}

.mt-70{
  margin-top: 70px;
}

.fw-700{
  font-weight: 700;
}

.fw-100{
  font-weight: 100;
}

.fw-200{
  font-weight: 200;
}

.fw-300{
  font-weight: 300;
}

.mt-40{
  margin-top: 40px;
}

.mb-40{
  margin-bottom: 40px!important
}

.mt-0{
  margin-top: 0!important;
}

.mb-100{
  margin-bottom: 100px
}

.m-0-auto{
  margin: 0 auto;
}

.m-0{
  margin: 0!important;
}

.ptb-20{
  padding-top: 20px;
  padding-bottom: 20px
}

.logos-row{
  margin-top: 70px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
}

.logos-row img{
  max-width: 200px;
  max-height: 90px;
  margin: 20px 40px
}

.d-flex_my{
  display: flex;
}

a{
  text-decoration: none!important;
}

.space-beetween{
  justify-content: space-between;
}

.ta-right{
  text-align: right;
}

.pt-100{
  padding-top: 100px;
}

@media all and (max-width: 1600px){
  .__light-subtitle{
    text-align: center;
  }
  
  .__paragraph-normal{
    text-align: center;
    font-size: 32px;
    line-height: 40px;
  }
}

@media all and (max-width: 1200px){
  .__bold-title{
    font-size: 56px;
    line-height: 62px;
  }
  
  .__light-subtitle{
    font-size: 42px;
    line-height: 48px;
  }
  
  .__paragraph-normal{
    font-size: 26px;
    line-height: 32px;
  }
}

@media all and (max-width: 991px){
  .__bold-title{
    font-size: 46px;
    line-height: 52px;
  }
  
  .__light-subtitle{
    font-size: 36px;
    line-height: 42px;
  }
  
  .__paragraph-normal{
    font-size: 22px;
    line-height: 28px;
  }
}

@media all and (max-width: 768px){
  .__bold-title{
    font-size: 36px;
    line-height: 42px;
  }
  
  .__light-subtitle{
    font-size: 28px;
    line-height: 33px;
  }
  
  .__paragraph-normal{
    font-size: 20px;
    line-height: 24px;
  }
  .btn-big{
    margin-top: 70px;
    padding: 15px 60px;
    width: 250px;
    border: none;
    color: #fff;
    background-color: #EE4AF1;
    font-size: 14px
  }
  .contact__container{
    flex-direction: column-reverse;
  }
}